@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

body {
  background-color: rgb(138, 58, 82);
  font-family: "Source Serif Pro", serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  margin: 2rem;
}

.circleContainer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}
