@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

body {
  background-color: rgb(138, 58, 82);
  font-family: "Source Serif Pro", serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  margin: 2rem;
}

.circleContainer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.difficultyh1 {
  color: white;
  text-align: center;
}

.topListContainer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 30rem;
}

.topList {
  border: 1px solid black;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem;
}

.topList h2 {
  text-align: center;
}

.topList p {
  margin: 1rem;
  display: inline-block;
  width: 7rem;
  font-size: 1.2rem;
}
